<div id="mountain" style="display:none">{{mountain}}</div>
<div id="doy" style="display:none">{{doy}}</div>

<div class="row">
<div class="col-md-5"></div>
    <div class="col-md-4">
      <a class="btn btn-default" href="?doy={{prevDoy}}">Prev Day</a>
      <a class="btn btn-default" href="?doy={{nextDoy}}">Next Day</a>
    </div>
    <div class="col-md-3"></div>
</div>


<div id="container" style="min-width: 800; height: 400px; margin: 0 auto"></div>

<script>
 $(document).ready(function(){

    loadStats($("#mountain").text(),$("#doy").text());

    function loadStats(mnt,doy){

      var request = $.ajax({
          url: "/"+mnt+"/stats.json?doy="+doy,
          type: 'get',
          beforeSend: function(xhr){xhr.setRequestHeader('Accept', 'application/json');}
      });

      request.done(function (res, textStatus, jqXHR){
        var chart = $('#container').highcharts({
            title: {
                text: res.dateString,
                x: -20 //center
            },
            yAxis: [{
                        title: {
                            text: 'Lift Rides'
                        },
                        min : 0
                    },{
                        title: {
                            text: 'Lift Rides/minute'
                        },
                        opposite : true,
                        min : 0
                    }
            ],
            xAxis : {type : 'datetime'},
            series: [{
                name: res.mountain+' Total',
                data: res.liftStats,
            },
            {
                name: res.mountain+' Per Minute',
                data: res.liftPmStats,
                yAxis : 1,
                type: 'spline',
                marker : {enabled : false}
            }]
        });

      });
      
      request.fail(function (jqXHR, textStatus, errorThrown){
        console.error(errorThrown);
      });
    }

 });
</script>