<div class="row">
 <div class="col-md-12">
    <div class="awidget login-reg">
       <div class="awidget-head">
       
       </div>
       <div class="awidget-body">
          <!-- Page title -->
          <div class="page-title text-center">
             <h2>401<span class="color">!!!</span></h2>
             <hr />
          </div>
          <!-- Page title -->
          <div class="text-center">
             <p>You are unauthorized.</p>
             <br />
          </div>
       </div>
    </div>
 </div>
</div>